*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body
{
    font-family: 'Raleway', sans-serif;
}
main, header
{
    padding: 0 60px;
}
:root
{
    --big-color: #f2f2f2;
    --big-color-white: white;
    --big-color-3: #F2F2F2;
}
.show-more
{
    text-decoration: none;
    color: black;
    border: 1px solid var(--big-color);
    background-color: var(--big-color);
    margin: 10px;
    padding-top: 5px;
    font-weight: 600;
}
.fa-star
{
    color: #0065FC;
}
.menu
{
    display: flex;
}
.star1
{
    padding-left: 10px;
    margin: 2px;
}
.star2
{
    display: flex;
    flex-direction: row;
    margin: 2px;
    margin-left: 4px;
    margin-top: 20px;
}
.filters
{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.filter
{
    border: 1px solid ;
    border-radius: 25px;
    padding-right: 20px;
    margin-right: 15px;
}
.filters-icons
{
    margin: 0;
    margin-right: 10px;
    background-color: #DEEBFF;
    padding: 12px;
    border-radius: 50%;
    color: #0356fc;
    font-size: 16px;
    font-weight: 900;
    width: 20px;
    height: 16px;
    text-align: center;
}
.fa-dog
{
    border: 3px solid #DEEBFF;
    border-radius: 25px;
    color: #0065FC;
}
.fa-money-bill-wave
{
    border: 3px solid #DEEBFF;
    border-radius: 25px;
    color: #0065FC;
}
.fa-child
{
    border: 3px solid #DEEBFF;
    border-radius: 25px;
    color: #0065FC;
}
.fa-heart
{
    border: 3px solid #DEEBFF;
    border-radius: 25px;
}
.Econimic
{
    border: 1px solid var(--big-color-3);
    border-radius: 25px;
    font-weight: 700;
    font-size: 15px;
    padding-right: 10px;
    margin: 5px;
}
.Econimic:hover
{
    background-color: green;
    cursor: pointer;
}
.Family
{
    border: 1px solid var(--big-color-3);
    border-radius: 25px;
    font-weight: 700;
    font-size: 15px;
    padding-right: 10px;
    margin: 5px;
}
.Family:hover
{
    background-color: green;
    cursor: pointer;
}
.Romantic
{
    border: 1px solid var(--big-color-3);
    border-radius: 25px;
    font-weight: 700;
    font-size: 15px;
    padding-right: 10px;
    margin: 5px;
}
.Romantic:hover
{
    background-color: green;
    cursor: pointer;
}
.Animal
{
    border: 1px solid var(--big-color-3);
    border-radius: 25px;
    font-weight: 700;
    font-size: 15px;
    padding-right: 10px;
    margin: 5px;
}
.Animal:hover
{
    background-color: green;
    cursor: pointer;
}
.fa-map-marker-alt
{
    color: #666766;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--big-color-3);
    padding: 8px;
}
.table-1
{
    border: 2px solid var(--big-color);
    border-radius: 25px;
    background-color: var(--big-color);
    padding: 15px;
    margin: 20px;
    width: 90%;
}
.table-2
{
    border: 2px solid var(--big-color);
    border-radius: 25px;
    background-color: var(--big-color);
    padding: 15px;
    margin: 20px;
    width: auto;
}
.table-3
{
    border: 2px;
    border-radius: 25px;
    padding: 15px;
    margin: 10px;
}
footer
{
    border: 2px solid var(--big-color);
    background-color: var(--big-color);
    padding: 10px;
}
.fa-chart-line
{
    margin-left: auto;
}
.contener
{
    display: flex;
    flex-direction: row;
}
.image-tab-1
{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 110px;
    width: 100%;
    object-fit: cover;
}
.image-tab-2
{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 110px;
    width: 110px;
    object-fit: cover;
}
.image-tab-3-1
{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 320px;
    width: 100%;
    object-fit: cover;
}
.image-tab-3-2
{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 120px;
    width: 100%;
    object-fit: cover;
}
.image-tab-3-3
{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    height: 145px;
    width: 100%;
    object-fit: cover;
}
.search
{
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065FC;
    color: white;
    padding: 10px;
}
.search-phone
{
    display: none;
}
.fa-info
{
    color: #0065FC;
    border: 1px solid var(--big-color-3);
    border-radius: 50%;
    padding: 2px;
    height: 10px;
    width: 10px;
    text-align: center;
    font-size: 7px;
    margin-right: 5px;
}
.information
{
    font-weight: 200;
    font-size: 12px;
    margin: 20px;
    margin-left: 0;
}
.text-tab-2
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    padding-left: 10px;
}
.text-tab-3
{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-left: 10px;
}
.strong
{
    display: flex;
    flex-direction: column;
}
.iland
{
    display: flex;
    flex-direction: column;
}
.montain
{
    display: flex;
    flex-direction: column;
}
.park
{
    display: flex;
    flex-direction: column;
}
.price-tab-1
{
    margin: 2px;
    margin-left: 5px;
    font-weight: 200;
    font-size: 14px;
    padding-left: 10px;
}
.price-tab-2
{
    margin: 2px;
    margin-left: 5px;
    font-weight: 200;
    font-size: 14px;
}
.title-image-1
{
    font-size: 16px;
    margin: 2px;
    margin-left: 5px;
    padding-left: 10px;
}
.title-image-2
{
    margin: 2px;
    margin-left: 5px;
    font-weight: 700;
    font-size: 16px;
}
.text-tab-3
{
    font-weight: 700;
    font-size: 16px;
    margin: 10px;
}
.accommodation
{
    border-top: 2px solid #0065FC;
    color: #0065FC;
    margin-right: 50px;
    font-size: 15px;
    padding-top: 5px;
    margin-left: auto;
}
a[href="#activities"]
{
    text-decoration: none;
}
.activities
{
    font-size: 15px;
    padding-top: 5px;
}
a[href="#accommodation"]
{
    text-decoration: none;
}
.register
{
    color: #0065FC;
    margin-left: 50px;
    font-size: 15px;
    padding-top: 5px;
}
#bloc_page-1
{
    margin-right: 0;
}
.bloc-page
{
    height: 30px;
    width: 70px;
}
.gray
{
    color: var(--big-color);
}
.case1
{
    border: 5px solid white;
    border-radius: 25px;
    background-color: white;
    margin: 10px;
    width: 30%;
    height: 170px;
}
.case1:active
{
    background-color: indigo;
}
.case2
{
    border: 5px solid var(--big-color-white);
    border-radius: 25px;
    background-color: var(--big-color-white);
    margin: 10px;
    height: 110px;
    width: 100%;
}
.case2:active
{
    background-color: indigo;
}
.case3
{
    border: 2px solid rgb(209, 209, 209);
    border-radius: 25px;
    background-color: white;
    margin: 10px;
    width: 95%;
}
.case4
{
    margin: 40px;
    width: 25%;
}
.box-shadow
{
    box-shadow: 0px 1px 24px 2px rgba(173, 173, 173, 0.67);
}
.box1
{
    display: flex;
    flex-wrap: wrap;
}
.box2
{
    display: flex;
    flex-wrap: wrap;
}
.box3
{
    display: flex;
    flex-direction: row;
}
.box4
{
    display: flex;
    flex-wrap: wrap;
}
h3
{
    font-weight: 200;
}
h2
{
    font-weight: 600;
    font-size: 30px;
}
.write
{
    padding: 6px;
}
.h2-tab-4
{
    font-weight: 700;
    font-size: 16px;
}
.h3-tab-4
{
    font-weight: 100;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.h3-filters
{
    font-weight: 800;
    font-size: 18px;
    margin-right: 10px;
}
.h2-header
{
    font-weight: 800;
    font-size: 16px;
    margin-bottom: 2px;
}
.h3-header
{
    font-weight: 200;
    font-size: 13px;
    margin-top: 2px;
}
.big-box
{
    display: flex;
    flex-direction: row;
}
.title-tab-1
{
    font-weight: 700;
    font-size: 20px;
    padding-left: 12px;
}
.title-tab-2
{
    font-weight: 700;
    font-size: 20px;
    padding-left: 12px;
    margin-right: auto;
    display: flex;
    flex-direction: row;
}
.title-tab-3
{
    font-weight: 700;
    font-size: 20px;
    padding-left: 12px;
}
.column1
{
    display: flex;
    flex-direction: column;
}
.column2
{
    display: flex;
    flex-direction: column;
}
.phone
{
    display: none;
}
.nav
{
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width : 375px)
{
    body 
    {
      background-color: white;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }
    header, .h2-header, .h3-header, .map-marker-alt, .filters, .information
    {
        margin-left: 0;

    }
    .h2-header
    {
        margin: 10px;
    }
    .write2
    {
        padding: 10px;
    }
    .filters
    {
        display: flex;
        flex-wrap: wrap;
    }
    .h3-filters
    {
        width: 100%;
    }
    .big-box
    {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
    }
    .table-2
    {
        width: 100%;
        border-radius: 0;
        margin: 0px;
        margin-right: 0px;
        padding: 0px;
    }
    .table-1
    {
        background-color: var(--big-color-2);
        margin: 0px;
        padding: 0px;
        margin-right: 0px;
        border: var(--big-color-2);
    }
    .show-more
    {
        border: var(--big-color-2);
        background: var(--big-color-2);
        font-size: 13px;
    }
    .image-tab-1
    {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        height: 120px;
        width: 100%;
    }
    .image-tab-2
    {
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        width: 110px;
    }
    .image-tab-3-1
    {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        height: 120px;
        width: 100%;
    }
    .image-tab-3-2
    {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        height: 120px;
        width: auto;
    }
    .image-tab-3-3
    {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        height: 120px;
        width: auto;
    }
    .table-1
    {
        width: 375px;
        padding: 0;
        margin: 0px;
    }
    .table-3
    {
        margin: 0;
        padding: 0;
    }
    .table-4
    {
        margin: 0;
    }
    .box2
    {
        display: flex;
        justify-content: center;
    }
    .box1
    {
        justify-content: center;
    }
    .box3
    {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .fa-chart-line
    {
        margin-right: 15px;
    }
    .case1
    {
        border: 1px solid rgb(209, 209, 209);
        width: 90%;
        height: 190px;
    }
    .case2
    {
        width: 90%;
        margin: 5px;
    }
    .case3
    {
        width: 90%;
        margin: 5px;
    }
    .case4
    {
        margin: 20px;
        width: 90%;
    }
    .column1
    {
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
    }
    .column2
    {
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
    }
    .web
    {
        display: none;
    }
    .phone
    {
        display: block;
        width: 100%;
        margin-top: 2px;
    }
    .phone-nav
    {
        display: flex;
        flex-direction: row;
    }
    .search-phone
    {
        display: inline-block;
        padding: 10px;
    }
    .search
    {
        padding: 12px;
    }
    .accommodation-2
    {
        width: 50%;
        border-bottom: 2px solid blue;
        margin: 0;
        text-align: center;
    }
    .activities
    {
        width: 50%;
        border-bottom: 2px solid gray;
        text-align: center;
    }
    .menu-2
    {
        display: flex;
    }
    .menu-1
    {
        display: flex;
    }
    #bloc_page-2
    {
        margin-right: auto;
        width: 400%;
    }
    .h3-header
    {
        margin: 10px;
    }
    .information
    {
        margin-left: 10px;
    }
}

@media only screen and (max-width : 1024px)
{
    body
    {
        width: 200%;
    }
    .filters
    {
        display: flex;
        flex-wrap: wrap;
    }
    .big-box
    {
        display: flex;
        flex-direction: column-reverse;
    }
    #bloc_page-1
    {
        margin-right: 150%;
    }
    .table-1
    {
        width: auto;
    }
    .table-2
    {
        width: auto;
    }
    .table-4
    {
        width: auto;
        margin: 0px;
    }
}

@media screen and (max-width : 425px)
{
    .h2-header
    {
        width: 100%;
    }
    .filters
    {
        display: flex;
        flex-direction: row;
    }
    body
    {
        width: 230%;
    }
    .case4
    {
        margin: auto;
    }
}

@media screen and (max-width : 381px)
{
    body
    {
        width: 254%;
    }
}

@media screen and (max-width : 1440px)
{
    .table-1
    {
        width: 60%;
        margin: 0px;
    }
    .table-2
    {
        width: calc(40%-0px);
        margin: 0px;
    }
    .case1
    {
        width: 30%;
    }
    .case2
    {
        width: auto;
    }
    .table-4
    {
        margin: 0px;
    }
    .filters
    {
        margin: 10px;
    }
    .column1, .column2
    {
        min-width: 20%;
    }
}